<!DOCTYPE html>
<html>
<head>
  <title>Request Trap</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <script>
    window.controller_action()
  </script>
</head>
<body data-controller="<%= params[:controller].classify%>" data-action="<%= params[:action]%>">
<%= hidden_field_tag :websocket_params, "#{host_with_port}/websocket" %>
<%= yield %>

</body>
</html>
